/* 
Nachfolgendes CSS wird aufgrund der media query nur auf Bildschirmbreiten bis maximal 800px angewandt.
Wir optimieren hier (ein bisschen) die Ausgabe des Quizes, damit man es auch auf mobilen Devices nutzen kann,
ohne ständig zu fluchen.

Damit das hier funktioniert, müsst ihr im HTML Dokument den "meta" Tag hinzufügen - sonst stehen euch
die benötigten Informationen nicht zur Verfügung und die media query wird niemals nie ausgelesen. 
*/

@media all and (max-width: 800px) {
  .block-answer .input,
  .block-answer answer,
  .answer-headers h5 {
    flex: 0 0 100%;
  }

  .answer-headers {
    display: none;
  }

  .question .block-answer {
    flex-wrap: wrap;
  }

  .question textarea {
    width: 100%;
    margin-bottom: 1em;
  }

  .intro img {
    width: 100%;
  }

  .question-text {
    margin-bottom: 0.5em;
  }
}
